@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #041632;
  --color-inverse-primary: #b7c7eb;
  --color-surface-variant: #e0e3e5;
  --color-tertiary-fixed: #ffdcc3;
  --color-tertiary: #281100;
  --color-on-primary-fixed-variant: #374765;
  --color-error: #ba1a1a;
  --color-on-error-container: #93000a;
  --color-background: #f7f9fb;
  --color-surface-container: #eceef0;
  --color-secondary-fixed-dim: #b7c8e1;
  --color-surface-container-high: #e6e8ea;
  --color-primary-fixed-dim: #b7c7eb;
  --color-outline: #75777e;
  --color-on-surface-variant: #44474d;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #8393b5;
  --color-on-tertiary-container: #dc790a;
  --color-on-primary-fixed: #091b37;
  --color-surface-container-lowest: #ffffff;
  --color-primary-fixed: #d7e2ff;
  --color-secondary: #505f76;
  --color-inverse-on-surface: #eff1f3;
  --color-secondary-fixed: #d3e4fe;
  --color-on-secondary-fixed: #0b1c30;
  --color-surface-dim: #d8dadc;
  --color-on-secondary: #ffffff;
  --color-inverse-surface: #2d3133;
  --color-on-secondary-fixed-variant: #38485d;
  --color-primary-container: #1b2b48;
  --color-surface: #f7f9fb;
  --color-on-surface: #191c1e;
  --color-tertiary-fixed-dim: #ffb77d;
  --color-surface-tint: #4f5e7e;
  --color-surface-container-low: #f2f4f6;
  --color-outline-variant: #c5c6ce;
  --color-on-tertiary-fixed: #2f1500;
  --color-on-background: #191c1e;
  --color-error-container: #ffdad6;
  --color-secondary-container: #d0e1fb;
  --color-surface-container-highest: #e0e3e5;
  --color-tertiary-container: #462200;
  --color-on-error: #ffffff;
  --color-surface-bright: #f7f9fb;
  --color-on-tertiary-fixed-variant: #6e3900;
  --color-on-secondary-container: #54647a;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  min-height: max(884px, 100dvh);
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
